<div class="page-header">
  <h1> Your current projects: </h1>
</div>

<%= link_to "Create new project", new_user_project_path(@user) %>

<% @projects.each do |proj| %>
  <ul class="list-group-item"><%=link_to proj.name, user_project_path(@user, proj) %>
    <span class="badge"><%= proj.notes.count %></span></ul>
<% end %>
