<div class="page-header container-fluid">
  <h1> Admin Console - Users Index </h1>
</div>

<div class="row">
  <div class="col-xs-4">
  <h3 class="container-fluid">Users</h3>
    <% @users.each do |user| %>
      <ul><%= link_to user.username, admin_user_path(user) %></ul>
    <% end %>
  </div>
</div>
